<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
!pip install bs4
#!pip install requests

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: bs4 in /usr/local/lib/python3.9/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/site-packages (from beautifulsoup4->bs4) (2.3)

## Imports

Import any additional libraries you may need here.

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [160]:
#Write your code here
url = 'https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01'
html_data = requests.get(url).text

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [161]:
html_data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [163]:
#Replace the dots below
soup=BeautifulSoup(html_data, 'html5')

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [165]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

tables = soup.find_all('table')
for index, table in enumerate(tables):
    if "Market Cap" in table.text and  "Bank name" in table.text:
        table_index = index
bank_table = tables[table_index]
for row in bank_table.find_all('tr'):
    columns = row.find_all('td')
    if columns != []:
        bank_name = columns[1].text.strip()
        market_cap = float(columns[2].text.strip())
        data = data.append({"Name":bank_name, "Market Cap (US$ Billion)":market_cap}, ignore_index = True)
data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   488.470
1                          Bank of America                   379.250
2  Industrial and Commercial Bank of China                   246.500
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

**Question 3** Display the first five rows using the `head` function.

In [166]:
#Write your code here
data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   488.470
1                          Bank of America                   379.250
2  Industrial and Commercial Bank of China                   246.500
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [167]:
#Write your code here
data.to_json()

'{"Name":{"0":"JPMorgan Chase","1":"Bank of America","2":"Industrial and Commercial Bank of China","3":"Wells Fargo","4":"China Construction Bank","5":"HSBC Holdings PLC","6":"Agricultural Bank of China","7":"Citigroup Inc.","8":"Bank of China","9":"HDFC Bank","10":"Goldman Sachs","11":"China Merchants Bank","12":"Royal Bank of Canada","13":"Banco Santander","14":"Commonwealth Bank","15":"Mitsubishi UFJ Financial Group","16":"Toronto-Dominion Bank","17":"Sberbank of Russia","18":"Morgan Stanley","19":"U.S. Bancorp","20":"BNP Paribas","21":"Ita\\u00fa Unibanco","22":"Westpac","23":"Scotiabank","24":"ING Group","25":"UBS","26":"Charles Schwab","27":"PNC Financial Services","28":"Lloyds Banking Group","29":"Sumitomo Mitsui Financial Group","30":"Bank of Communications","31":"Australia and New Zealand Banking Group","32":"Banco Bradesco","33":"National Australia Bank","34":"Intesa Sanpaolo","35":"Banco Bilbao Vizcaya Argentaria","36":"Japan Post Bank","37":"The Bank of New York Mellon","38":"Shanghai Pudong Development Bank","39":"Industrial Bank (China)","40":"Bank of China (Hong Kong)","41":"Bank of Montreal","42":"Cr\\u00e9dit Agricole","43":"DBS Bank","44":"Nordea","45":"Capital One","46":"NatWest Group","47":"Mizuho Financial Group","48":"Credit Suisse","49":"Postal Savings Bank of China","50":"China Minsheng Bank","51":"UniCredit","52":"China CITIC Bank","53":"Hang Seng Bank","54":"Soci\\u00e9t\\u00e9 G\\u00e9n\\u00e9rale","55":"Barclays","56":"Canadian Imperial Bank of Commerce","57":"Bank Central Asia","58":"Truist Financial","59":"Oversea-Chinese Banking Corp","60":"State Bank of India","61":"State Street","62":"Deutsche Bank","63":"KBC Bank","64":"Danske Bank","65":"Ping An Bank","66":"Standard Chartered","67":"United Overseas Bank","68":"QNB Group","69":"Bank Rakyat Indonesia"},"Market Cap (US$ Billion)":{"0":488.47,"1":379.25,"2":246.5,"3":308.013,"4":257.399,"5":219.27,"6":203.244,"7":203.165,"8":181.469,"9":134.4,"10":131.68,"11":122.616,"12":122.564,"13":115.696,"14":112.227,"15":111.66,"16":108.449,"17":99.84,"18":99.651,"19":94.558,"20":93.329,"21":86.203,"22":84.56,"23":78.947,"24":78.92,"25":75.482,"26":74.255,"27":72.246,"28":71.253,"29":67.328,"30":67.078,"31":66.448,"32":64.816,"33":63.794,"34":62.032,"35":60.678,"36":60.525,"37":59.823,"38":58.796,"39":57.388,"40":55.449,"41":53.181,"42":52.141,"43":51.475,"44":51.185,"45":51.107,"46":50.49,"47":50.018,"48":48.462,"49":47.948,"50":47.921,"51":47.777,"52":47.451,"53":46.171,"54":46.051,"55":45.85,"56":43.544,"57":43.344,"58":41.923,"59":41.362,"60":55.7,"61":39.769,"62":38.649,"63":38.394,"64":38.223,"65":37.993,"66":37.319,"67":35.128,"68":33.56,"69":33.081}}'

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation.